{% extends "base.html" %}
{% block metatags %}
<title>Home | Matrix</title>
<meta name="description" content="Take the Red Pill and see how deep the rabbit hole goes">
<meta property="og:title" content="Dennis' Impressions">
<meta property="og:site_name" content="The Matrix">
<meta property="og:url" content="#">
<meta property="og:description" content="Following the white Rabbit">
<meta property="og:type" content="website">
{% endblock %}
{% block content %}
<style type="text/css">
    body {
        font-family: 'Raleway', sans-serif;
    }

    .head_text {
        color: white;
    }

    .h1,
    h4 {
        font-family: New York Extra Large;
font-style: normal;
font-weight: bold;
font-size: 54px;
line-height: 100%;
    }

    #mainhome {
        text-align: center;
    }
</style>
<header class="jumbotron" style=" color: #7d7e80; background-image: url('https://res.cloudinary.com/th3nn3ss/image/upload/v1627581682/sri7lgmf9z0nmdwmvgej.jpg'); height: 300px; background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;">
    <div class="container">
        <p class="h1"> Welcome to <strong>The Matrix</strong></p>

    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="shadow-none card mb-4" id="newsfeed">
                <div class="card-body">
                    <h3 class="card-title">{{ post.title }}</h3>
                    <p class="card-text text-muted h6"><span>{{ post.author.first_name }}
                            {{ post.author.last_name }}</span> | {{ post.created_on}} </p>

                    <p class="card-text">{{post.content|truncatewords:40 }}</p>

                    <span><a href="{% url 'post_detailing' slug=post.slug %}" class="btn btn-outline-primary">Read More
                            →</a></span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation conatiner"></nav>
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info"
            style="font-family: sans-serif;">« PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info" style="font-family: sans-serif;">
            NEXT »</a></li>

    {% endif %}
</ul>
{% endif %}
{%endblock%}