{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
<style>
    p {
        font-family: 'Ubuntu', sans-serif;
    }
</style>
<header class="jumbotron" style=" color: #192a4d; background-image: url('https://res.cloudinary.com/th3nn3ss/image/upload/v1627581682/sri7lgmf9z0nmdwmvgej.jpg'); height: 225px; background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom; font-family: 'Bebas Neue', cursive;">
    <div class="container">
        <h1> {{post.title}}</h>

    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <br />
                <img src='{{ post.post_image.url }}' width="550px"/>
                <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
                <p class="card-text ">{{ post.content | safe }}</p>

                <table><tr>
                    <td class="pr-sm-2"><form action="{% url 'like' post.slug %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" name="post_slug" value="{{ post.slug }}" class="btn btn-primary btn-sm"> <span>
                                {{post.total_likes}} </span>Like</button>
                    </form></td>
                    <td>
                        <form action="{% url 'dislike' post.slug %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="post_slug" value="{{ post.slug }}" class="btn btn-danger btn-sm"> <span>
                                    {{post.total_dislikes}} </span>Dislike</button>
                        </form>
                    </td>
                </tr></table>
            </div>
        </div>

        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- comments -->
                {% with comments.count as total_comments %}
                <h2>{{ total_comments }} comments</h2>

                <p>
                    {% endwith %} {% for comment in comments.all %}
                </p>

                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span>
                    </p>
                    {{ comment.body | linebreaks }}
                </div>

                {% endfor %}
            </div>
        </div>
        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">

                <h3>Leave a comment</h3>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                    <button type="submit" class="btn btn-primary  btn-sm">Submit</button>
                    {% else %}
                    <p> You must be logged in to post a comment</p>
                    {% endif %}
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}